.md-dialog{
    width:500px;
    padding-top: 30px;
    margin: 0;
  }
  .btnCenter .dialogBtn.mat-raised-button.mat-primary{
    margin-left: 0px !important;
  }
  .custom-dialog-container .mat-dialog-container {
      padding: 0;
    }
  .custom-dialog-container .mat-dialog-container {
      padding: 0;
    }
  
    .modal_close_icon{
      float: right;
      margin-top: -8px;
      min-width: auto;
      padding: 0;
      position: inherit;
  }
    .popup_title{
      padding: 10px 10px;
      line-height: 22px;
      font-size: 18px;
      width: 100%;
      color: #fff;
      text-align: left;
      margin: 0;
      text-shadow: 0px 2px 3px #005181;
      background: linear-gradient(to bottom, #c0dc8c 1%,#4480a4 1%,#4480a4 2%,#005181 53%,#407ea2 89%,#4480a4 98%,#4480a4 99%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd8d8', endColorstr='#ffd8d8',GradientType=0 );
   }
   
   .mat-dialog-actions{
    margin-bottom: 15px;
   }


   .dialogBtn.mat-raised-button.mat-primary{
    background-color: #005181;    
   }
   .dialogBtn.mat-raised-button.mat-primary:hover{
    background: #005181cf; 
    border-radius: 20px 20px 20px 20px; 
    transition:  0.2s ease-out;
    transform: translateY(0);
    /* box-shadow: 0 .3rem 0 #b5b5b5;  */
   }



   .dialogBtn.mat-raised-button.mat-basic{
    background-color: #888888; color: #FFF;
   }
   .dialogBtn.mat-raised-button.mat-basic:hover{
    background: #ababab; 
    border-radius: 20px 20px 20px 20px; 
    transition:  0.2s ease-out;
    transform: translateY(0);
    /* box-shadow: 0 .3rem 0 #b5b5b5; */
   }




   textarea{
     resize:none;
     min-height: 100px;
   }
   .radio-row{
    text-align: center;
    float: none;
    width: 30%;
    margin: auto;
    margin-top: -40px;
    margin-bottom: 60px;
   }
   .cdk-global-overlay-wrapper{
    z-index: 888888 !important;
  }
  #topnav{
    z-index: 777 !important;
  }
  .cdk-overlay-pane{
    z-index: 999999 !important;
  }

  /*** For CSS Responsive *****/

@media only screen and (min-width: 300px) and (max-width: 575px) {
  .md-dialog{
    width:100%;
    padding-top: 30px;
    margin: 0;
  }
}