<div class="content-pageXXX container-fluid">

  <form #saveListForm [formGroup]="saveForm" (ngSubmit)="onSubmit()">
    <div class="contentXXX main-content">
      <article class="right-panel">
        <app-left-nav></app-left-nav>
        <h4 class="page-title">Department Modify</h4>
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-3" *ngIf="userBaseFieldName | arrayFilter : 'departmentName' ">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="User Department Name" formControlName="departmentName">
                </mat-form-field>
              </div>

              <div class="col-md-3" *ngIf="userBaseFieldName | arrayFilter : 'locationId' ">
                <mat-form-field class="example-full-width">
                  <mat-select placeholder="User Location" formControlName="locationId" (selectionChange)="subLocationDropDown($event.value)">
                    <!-- <mat-option *ngFor="let location of userLocationCombo" [value]="location.id">
                      {{location.userLocationName}}</mat-option> -->
                      <input type="text" placeholder="Search.."  class="advanceddropSearchTextbox" [(ngModel)]="locationFilter"  [ngModelOptions]="{standalone: true}">
                      <mat-option class="select-span">Select Here</mat-option>
                      <mat-option *ngFor="let location of userLocationCombo | dropdownFilter : {name: locationFilter}" 
                      [value]="location.id">{{location.name}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-md-3" *ngIf="userBaseFieldName | arrayFilter : 'sublocationId' ">
                  <mat-form-field class="example-full-width">
                    <mat-select placeholder="User Sub-Location" formControlName="sublocationId">
                      <!-- <mat-option *ngFor="let sublocation of userSubLocationCombo" [value]="sublocation.sublocationId">
                        {{sublocation.subLocationName}}</mat-option> -->
                        <input type="text" placeholder="Search.."  class="advanceddropSearchTextbox" [(ngModel)]="sublocationFilter"  [ngModelOptions]="{standalone: true}">
                        <mat-option class="select-span">Select Here</mat-option>
                        <mat-option *ngFor="let sublocation of userSubLocationCombo | dropdownFilter : {name: sublocationFilter}" 
                        [value]="sublocation.id">{{sublocation.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

              <div class="col-md-3" *ngIf="userBaseFieldName | arrayFilter : 'description' ">
                <mat-form-field class="example-full-width">
                  <textarea matInput placeholder="Description" maxlength="250" formControlName="description"></textarea>
                </mat-form-field>
              </div>
              <!-- <div class="col-md-3 mt-15">
                <mat-checkbox formControlName="gfiLocationFlag">Active</mat-checkbox>
              </div> -->
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <button mat-raised-button color="warn" class="btn-orange mr-10" type="submit">Modify</button>
          <!--  <button mat-raised-button color="warn" class="btn-orange mr-10" type="reset">Cancel</button>-->
            <button mat-raised-button color="warn" class="btn-orange" routerLink="/department">Back</button>
          </div>
        </div>
      </article>
    </div>
  </form>
</div>
