.change_pwd_sec {display: table; width: 25%; height: 100vh; margin: 0 auto;}
.change_pwd_sec_inner { display: table-cell; vertical-align: middle; /*padding: 0 50px 0 50px;*/}

.eyeicon {cursor: pointer;}


.alertMessage{ /*display: table; width: 100%;*/ transition: all 0.5s ease;}
.alert-success {
    /*display: table-cell;
    vertical-align: middle;*/
    padding: 10px 10px;
    color: #fff;
    width: 100%;
    background-color: #005181;
    border-radius: .25rem;
    /* transform: translate(-49%, 25%); */
    transform: translate(0%, 0%);
    transition: all 0.5s ease;
}
