<div class="content-pageXXX">
  <div class="contentXXX">

    <div class="row m-0">
      <div class="col-md-12">

        <div class="change_pwd_sec">
          <div class="change_pwd_sec_inner">

            <h4 class="page-title text-center">CHANGE PASSWORD</h4>

              <form (submit)="changenewpassword($event)">
                <div class="change_pwd_container">

                <div class="alertMessage">
                  <div class="alert-success change-pwd"  *ngIf="successMessage" type="success" (close)="successMessage = null">
                    {{ successMessage }}
                  </div>
                  <div class="alert-success change-pwd succeed"  *ngIf="changedmessage != null" type="success" (close)="changedmessage = null">
                    {{ changedmessage }}
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                      <mat-form-field>
                        <input matInput placeholder="Old Password" [type]="hide1 ? 'text' : 'password'" [(ngModel)]="oldpassword" name="oldpassword" required>
                        <mat-icon class="eyeicon" matSuffix (click)="hide1 = !hide1">{{hide1 ? 'visibility' : 'visibility_off'}}</mat-icon>
                      </mat-form-field>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                      <mat-form-field>
                        <input matInput placeholder="New Password" [type]="hide2 ? 'text' : 'password'" [(ngModel)]="newpassword" name="newpassword" required>
                        <mat-icon class="eyeicon" matSuffix (click)="hide2 = !hide2">{{hide2 ? 'visibility' : 'visibility_off'}}</mat-icon>
                      </mat-form-field>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                      <mat-form-field>
                        <input matInput placeholder="Confirm Password" [type]="hide3 ? 'text' : 'password'" [(ngModel)]="confirmpassword" name="confirmpassword" required>
                        <mat-icon class="eyeicon" matSuffix (click)="hide3 = !hide3">{{hide3 ? 'visibility' : 'visibility_off'}}</mat-icon>
                      </mat-form-field>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12 text-center mt-2 mb-2">
                      <button mat-raised-button type="submit" color="warn" class="mr-10">SAVE</button>
                      <button mat-raised-button routerLink="/dashboard" >CANCEL</button>
                  </div>
                </div>

              </div>
            </form>

          </div>
        </div>

      </div>
    </div>

  </div>
</div>
