<header class="main-head">
  
    <div class="task-bar">
      <div class="logo-sec visible-xs hidden-sm hidden-md hidden-lg">
        <figure>
          <img src="assets/img/login/logo.png" alt="" class="logo" />
        </figure>
      </div>



      <nav class="hamberger-navCCC left_nav_header">
    
          <div class="left_nav_header_menuList">
            <ul class="nav navbar-nav">
  
            
    
            </ul>
            
          </div> 
          
               
        </nav>
        
        
         
      <nav class="right_nav_header">
        <ul class="nav navbar-nav">

        </ul>
      </nav>



    </div>
  </header>
  