<div class="content-pageXXX container-fluid">
  <div class="contentXXX main-content">
    <app-left-nav></app-left-nav>
    <app-tasks></app-tasks>

    <article class="right-panel">
      <h4 class="page-title">Country</h4>
     
      <!--<div class="row">
        <div class="col-md-12">
          <mat-label>Search</mat-label>
        </div>
        <div class="col-md-6">
          <form #searchListForm [formGroup]="searchForm" (ngSubmit)="onSubmitSearch(searchForm.value)">
            <div class="row">
              <div class="col-md-12">
                <div class="row" *ngIf="searchForm">
                  <div class="col-md-12" formArrayName="searchDatas"
                    *ngFor="let item of searchForm.controls['searchDatas'].controls; let i = index">
                    <div class="row" [formGroupName]="i">
                      <div class="col-md-6">
                        <mat-form-field>
                          <mat-select formControlName="dropDownVal" placeholder="Choose Field">
                            <mat-option *ngFor="let searchCombo of searchCombo" [value]="searchCombo.Value">
                              {{searchCombo.Name}}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>

                      <div class="col-md-6">
                        <mat-form-field>
                          <input matInput placeholder="Value" formControlName="textVal"
                             >
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-12 text-right">
                <a _ngcontent-c19="" class="circle_iconbg" href="javascript:void(0);" (click)="addSequence()">
                  <i _ngcontent-c19="" class="material-icons">add</i>
                </a>
                <a _ngcontent-c19="" class="circle_iconbg" href="javascript:void(0);" (click)="deleteSequence()">
                  <i _ngcontent-c19="" class="material-icons">remove</i>
                </a>
              </div>

              <div class="col-md-12 text-left">
                <button mat-raised-button color="warn" class="btn-orange mr-10" type="submit">Search</button>
              </div>
            </div>
          </form>
        </div>

        <div class="col-md-6"></div>
      </div>-->





      <mat-grid-list cols="1" align="end">
        <mat-form-field style="width:inherit;">
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>

        <button  mat-icon-button routerLink="/country/country-add">
          <mat-icon aria-label="Example icon-button with a heart icon" matTooltip="Add">note_add</mat-icon>
        </button>

        <button  mat-icon-button (click)="projectModify()">
          <mat-icon aria-label="Example icon-button with a heart icon" matTooltip="Modify">edit</mat-icon>
        </button>

        <button  mat-icon-button (click)="projectView()">
          <mat-icon aria-label="Example icon-button with a heart icon" matTooltip="View">visibility</mat-icon>
        </button>

        <button  mat-icon-button (click)="removeSelectedRows()">
          <mat-icon aria-label="Example icon-button with a heart icon" matTooltip="Delete">delete</mat-icon>
        </button>

      </mat-grid-list>

      <div class="mat-elevation-z8">
        <div class="table-responsive">
          <table mat-table [dataSource]="dataSource" matSort class="dTable">
            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef [ngClass]="'text-center'" style="width:50px;">
                <mat-checkbox (change)="$event ? masterToggle() : null"
                  [checked]="selection.hasValue() && isAllSelected()"
                  [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row" [ngClass]="'text-center'">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event  ? selection.toggle(row) : null"
                  [checked]="selection.isSelected(row)" (change)="row.highlighted = !row.highlighted">
                </mat-checkbox>
              </td>
            </ng-container>

            

            <ng-container matColumnDef="countryCode">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Country Code</th>
              <td mat-cell *matCellDef="let row"> {{row.countryCode}}</td>
            </ng-container>

            
            <ng-container matColumnDef="country">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Country Name</th>
              <td mat-cell *matCellDef="let row"> {{row.country}}</td>
            </ng-container>
           


          
            <tr mat-header-row *matHeaderRowDef="userRoleFieldName"></tr>
            <tr mat-row *matRowDef="let row;  columns:userRoleFieldName" (click)="row.highlighted = !row.highlighted"
              (click)=" selection.toggle(row)" [ngClass]="{hovered: row.hovered, highlighted: row.highlighted}"
              (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></tr>
         

          </table>

          <div [hidden]="displayNoRecords" class="p-10">
            <h3 class="noRecordGrid">No Record Found...</h3>
          </div>


        </div>
        <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>

    </article>

  </div>
</div>
